@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Nerko+One&family=Open+Sans:wght@700&family=Orbitron&display=swap');

*{
    text-decoration: none;
}

.begin , .half , .section{
    font-family: 'Orbitron', sans-serif;
    display: flex;
    height: 100vh;
    transform: rotateX('angle');
}

body{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.flex_content{
    display: flex;
    margin: auto;
   
}

.wal_bg{
    background: url(../imgs/Fundo.png) center center fixed;
    background-size: cover;
    color: white;
}

/*Begin*/
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
/*Half*/
main{
    display: flex;
    align-items: center;
    
}

.photo{
    border-radius: 250px;
    margin: 0px 25px;
    display: flex;
    width: 250px;
    height: 250px;
    border: 2px solid black;
    box-shadow: 5px 5px 10px black;
}


.photo:hover {
    padding: 4px;
    background-color: rgba(226, 156, 5, 0.836);
}

.section{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

/*End*/
.bloco_final{
    display: flex;
    height: 250px;
    background-color: 200px;
    border-bottom: 1px solid white;
    color: white;
    justify-content: space-evenly;
}

.links_finais{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.links_finais a {
    color: white;
    text-decoration: none;
    margin-top: 15px;
}

.bloco_final div{
    height: 250px;
    width: 250px;
}

.logo_final{
    height: 150px;
    height: 150px;
    display: block;
    align-items: center;
    justify-content: center;
}

.logo_final h3{
    line-height: 250px;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
}